<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <link href="/webjars/font-awesome/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/webjars/vega/docs/vega.min.js"></script>
</head>

<body>
<h1>Pollution Chart : [(${date})] </h1>
<div id="chart"></div>

<br>

<a th:href="'?date=' + ${prevDate} + '&nbDays=' + ${nbDays}">Prev</a>
<a th:href="'?date=' + ${nextDate} + '&nbDays=' + ${nbDays}">Next</a>
<a th:href="'?date=' + ${prevDate} + '&nbDays=' + ${nbDays + 1}">+ 1 days</a>


<script>
var view;
var spec =
    {
    "$schema": "https://vega.github.io/schema/vega/v5.json",
    "description": "A basic line chart example.",
    "width": 1200,
    "height": 600,
    "padding": 5,

    "config": {
        "axis": {
            "grid": true,
            "gridColor": "#dedede"
        }
    },


    "data": [
        {
            "name": "table",
            "url" : "/data?date=[(${date})]&nbDays=[(${nbDays})]&window=[(${ppt.window})]&stepWindow=[(${ppt.stepWindow})]",
            "format": {
                "type": "dsv",
                "delimiter": ";",
                "parse": {
                    "timestamp": "number",
                    "iaq":"number",
                    "iaq_stdev":"number",
                    "iaq_accuracy": "number",
                    "temperature": "number",
                    "temperature_stdev":"number",
                    "humidity": "number",
                    "humidity_stdev":"number",
                    "pressure": "number",
                    "pressure_stdev":"number",
                    "gas": "number",
                    "sensor": "string"
                }
            },
            "transform": [
                {
                    "type": "formula",
                    "as": "timestamp",
                    "expr": "toDate(datum.timestamp)"
                },
                {"type": "formula", "as": "iaq_y1", "expr": "datum.iaq + datum.iaq_stdev"},
                {"type": "formula", "as": "iaq_y2", "expr": "datum.iaq - datum.iaq_stdev"}
            ]
        }
    ],

    "scales": [
        {
            "name": "tsscale",
            "type": "time",
            "range": "width",
            "domain": {"data": "table", "field": "timestamp"}
        },
        {
            "name": "iaqscale",
            "type": "linear",
            "range": "height",
            "nice": true,
            "zero": true,
            "domain": {"data": "table", "field": "iaq"}
        },
        {
            "name": "tempscale",
            "type": "linear",
            "range": "height",
            "nice": true,
            "zero": true,
            "domain": {"data": "table", "fields": ["temperature", "humidity"]}
        },
        {
            "name": "color",
            "type": "ordinal",
            "range": "category",
            "domain": {"data": "table", "field": "sensor"}
        },
        {
            "name": "kindscale",
            "type": "ordinal",
            "range": "category",
            "domain": ["iaq", "temperature", "humidity"]
        }
    ],

    "legends": [
        {
            "fill": "kindscale",
            "title": "Sensor",
            "type" : "symbol"
        }
    ],

    "axes": [
        {
            "orient": "bottom",
            "scale": "tsscale",
            "title": "Time"
        },
        {
            "orient": "left",
            "scale": "iaqscale",
            "title": "COV"
        },
        {
            "orient": "right",
            "scale": "tempscale",
            "title": "% 1000"
        }
    ],

    "marks": [
        {
            "type": "group",
            "from": {
                "facet": {
                    "name": "series",
                    "data": "table",
                    "groupby": ["sensor"]
                }
            },
            "marks": [
                {
                    "type": "line",
                    "from": {"data": "series"},
                    "defined" : false,
                    "encode": {
                        "enter": {
                            "x": {"scale": "tsscale", "field": "timestamp"},
                            "y": {"scale": "iaqscale", "field": "iaq"},
                            "stroke": {"scale": "kindscale", "value": "iaq" },
                            "strokeWidth": {"value": 2}
                        }
                    }
                }, {
                    "type": "area",
                    "from": {"data": "series"},
                    "defined" : false,
                    "encode": {
                        "enter": {
                            "x": {"scale": "tsscale", "field": "timestamp"},
                            "y": {"scale": "iaqscale", "field": "iaq_y1"},
                            "y2": {"scale": "iaqscale", "field": "iaq_y2"},
                            "stroke": {"scale": "kindscale", "value": "iaq" },
                            "strokeWidth": {"value": 0},
                            "fill": {"scale": "kindscale", "value": "iaq"},
                            "fillOpacity": {"value": 0.6}
                        }
                    }
                }, {
                    "type": "line",
                    "from": {"data": "series"},
                    "defined" : false,
                    "encode": {
                        "enter": {
                            "x": {"scale": "tsscale", "field": "timestamp"},
                            "y": {"scale": "tempscale", "field": "temperature"},
                            "stroke": {"scale": "kindscale", "value": "temperature" },
                            "strokeOpacity": {"value": "0.5"}
                        }
                    }
                }, {
                    "type": "line",
                    "from": {"data": "series"},
                    "defined" : false,
                    "encode": {
                        "enter": {
                            "x": {"scale": "tsscale", "field": "timestamp"},
                            "y": {"scale": "tempscale", "field": "humidity"},
                            "stroke": {"scale": "kindscale", "value": "humidity" },
                            "strokeOpacity": {"value": "0.5"}
                        }
                    }
                }
            ]
        }
    ]
};

    // fetch(spec)
    //   .then(res => res.json())
    //   .then(spec => render(spec))
    //   .catch(err => console.error(err));

    function render(spec) {
      view = new vega.View(vega.parse(spec), {
        renderer:  'canvas',  // renderer (canvas or svg)
        container: '#chart',   // parent DOM container
        hover:     true       // enable hover processing
      });
      view.logLevel(vega.Info);
      return view.runAsync();
    }

    render(spec);


</script>

</body>
</html>